html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background: #000;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
}

canvas {
  /* canvas is placed by Excalibur, we only style it */
  display: block;
  margin: 0;

  /* REMOVE browser smoothing */
  image-rendering: pixelated;
  image-rendering: crisp-edges;

  /* Optional for visibility */
  outline: 1px solid #333;
}